.block {

    background-color: rgb(238, 0, 255);
    margin: 3px;
    padding: 4px;
    
}
.box {

    display: block;
    margin: 0 auto
}
.text {
    background-color: khaki;
    margin: 6px;
    padding: 5px;
    display: inline;
}
.last {
    display:block;
    margin: 20px;
    padding: 20px;

}
.l1 {

    display: block;
    vertical-align: middle;
    
}